node_modules/
build/
html-download-tests/
*.zip
!public/templates/algoritmos_android.zip
!public/templates/algoritmos_ios.zip
!public/templates/laberinto_android.zip
!public/templates/laberinto_ios.zip
!public/templates/robot_android.zip
!public/templates/robot_ios.zip
!public/templates/bioflor_android.zip
!public/templates/bioflor_ios.zip
!public/templates/magix_android.zip
!public/templates/magix_ios.zip
!public/templates/cromix_android.zip
!public/templates/cromix_ios.zip
*.log
.env
.env.*
!.env.example
!.env.production
